.box {
    height: 400px;
    width: 400px;
    padding: 10px;
    position: absolute;
    margin: 150px 200px 10px 515px;
    background-color:wheat;
}
.boxx {
    height: 100px;
    width: 400px;
    padding: 10px;
    position: absolute;
    margin: 15px 100px 10px 15px;
    background-color:wheat;
}